/*start header*/
body > header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    background-color: #686161;
    box-shadow: -2px 9px 9px -4px #917a7a;
    z-index: 1;
}

body > header > p {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    padding-left: 175px;
}

body > header > nav > ul {
    position: absolute;
    right: 40px;
    bottom: 5px;
    font-size: 24px;
    font-family: 'Lobster', cursive;
    list-style: none;
    color: #4a3a3a;
}

body > header > nav > ul > li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

body > header > nav > ul > li > a {
    text-decoration: none;
    color: black;
}

body > header > nav > ul > li > a:hover {
    cursor: pointer;
    color: white;
}

body > header > nav > ul > li > a:focus {
    color: #ff0000;
}

/*end header*/

/*start main*/
body > main {
    position: relative;
    bottom: 24px;
    top: 80px;
}

/*start main first section(Home)*/
body > main > section:nth-child(1) {
    position: relative;
    background-color: #686161;
    width: 100%;
    height: 810px;
}

body > main > section:nth-child(1) > div:nth-child(2) {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 245px;
    margin-left: 175px;
}

body > main > section:nth-child(1) div:nth-child(2).Home > p {
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

body > main > section:nth-child(1) > div:nth-child(2).Home > p:nth-child(1), p:nth-child(3) {
    font-size: 30px;
}

body > main > section:nth-child(1) > div:nth-child(2).Home > p:nth-child(2), p:nth-child(4) {
    font-size: 45px;
    font-weight: 500;
}

body > main > section:nth-child(1) > div:nth-child(2).Home > div:nth-child(5) {
    border: 2px solid black;
    height: 50px;
    width: 180px;
    position: absolute;
    top: 244px;
    margin: auto;
    border-radius: 15px;
    background-color: gray;
}

body > main > section:nth-child(1) > div:nth-child(2).Home > div:nth-child(5) > p {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 40px;
    width: 125px;
    font-size: 35px;
    color: white;
}

body > main > section:nth-child(1) > div:nth-child(2).Home > p:nth-child(2):hover {
    color: white;
}

body > main > section:nth-child(1) > div:nth-child(2).Home > p:nth-child(4):hover {
    color: white;
}

body > main > section:nth-child(1) > div:nth-child(3) {
    border: 1px solid blue;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100px;
    margin: auto;
    border-radius: 100%;
}

body > main > section:nth-child(1) > div:nth-child(3) > img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    left: -8px;
    margin: auto;
    color: #686161;
    width: 525px;
    height: 730px;
}

/*end main first section*/

/*start main second section(About Me)*/
body > main > section:nth-child(2) {
    position: relative;
    background-color: #FFFFFF;
    width: 100%;
    height: 710px;
}

body > main > section:nth-child(2) > h1:nth-child(2) {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
    height: max-content;
    width: max-content;
    font-size: 39px;
    font-family: 'Lobster', cursive;
}

body > main > section:nth-child(2) > h3:nth-child(3) {
    position: absolute;
    top: 185px;
    left: 0;
    right: 0;
    margin: auto;
    height: max-content;
    width: max-content;
    font-size: 22px;
    font-family: 'Lobster', cursive;
}

body > main > section:nth-child(2) > div:nth-child(4) {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 180px;
    left: 176px;
}

body > main > section:nth-child(2) > div:nth-child(4) > img {
    height: 480px;
    width: 412px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

body > main > section:nth-child(2) > nav:nth-child(5) {
    position: absolute;
    top: 630px;
    left: 216px;
}

body > main > section:nth-child(2) > nav:nth-child(5) > div > img {
    margin-left: 17px;
    margin-right: 12px;
    height: 50px;
    width: 50px;
}

body > main > section:nth-child(2) > div:nth-child(7) {
    position: absolute;
    top: 300px;
    left: 610px;
}

body > main > section:nth-child(2) > div:nth-child(7) > p {
    font-size: 26px;
    font-family: 'Lobster', cursive;
}

body > main > section:nth-child(2) > section:nth-child(8) > div {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 270px;
    left: 1200px;
}

body > main > section:nth-child(2) > section:nth-child(8) > div > p {
    font-size: 26px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

body > main > section:nth-child(2) > section:nth-child(8) > div > p:nth-child(1) {
    margin-left: 55px;
}

body > main > section:nth-child(2) > section:nth-child(8) > div > p:nth-child(2) {
    margin-left: 24px;
}

body > main > section:nth-child(2) > section:nth-child(9) > div {
    position: absolute;
    width: max-content;
    height: max-content;
    top: 420px;
    left: 1200px;
}

body > main > section:nth-child(2) > section:nth-child(9) > div > p {
    font-size: 26px;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
}

body > main > section:nth-child(2) > section:nth-child(9) > div > p:nth-child(1) {
    margin-left: 60px;
}

body > main > section:nth-child(2) > section:nth-child(9) > div > p:nth-child(2) {
    margin-left: 24px;
}

body > main > section:nth-child(2) > section:nth-child(9) > div > p:nth-child(3) {
    margin-left: 17px;
}

body > main > section:nth-child(2) > section:nth-child(10) > div {
    display: inline-block;
}

body > main > section:nth-child(2) > section:nth-child(10) {
    position: absolute;
    top: 575px;
    left: 1176px;
    width: 185px;
    height: 50px;
}

body > main > section:nth-child(2) > section:nth-child(10) > div:nth-child(1) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 34px;
    margin: auto;
    width: max-content;
    height: max-content;
    font-size: 24px;
}

body > main > section:nth-child(2) > section:nth-child(10) > div:nth-child(1) > a {
    text-decoration: none;
    color: #2c2cd4;
}

body > main > section:nth-child(2) > section:nth-child(10) > div:nth-child(2) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 155px;
    right: 34px;
    margin: auto;
    width: max-content;
    height: max-content;
}

body > main > section:nth-child(2) > section:nth-child(10) > div:nth-child(2) > img {
    height: 25px;
    width: 30px;
}

/*end main second section*/

/*start main third section(My services)*/

/*end main third section*/
/*end main*/